$icomoon-font-path: "fonts" !default;

$ico-windows8: "\e951";
$ico-offline: "\e950";
$ico-sort_numeric_asc: "\e94c";
$ico-sort_numeric_desc: "\e94d";
$ico-sort_alpha_asc: "\e94e";
$ico-sort_alpha_desc: "\e94f";
$ico-download-line: "\e924";
$ico-add: "\e800";
$ico-print: "\e801";
$ico-diagonal-line: "\e802";
$ico-warning-triangle: "\e803";
$ico-arrow-circle-left: "\e63a";
$ico-tag: "\e63d";
$ico-human: "\e63c";
$ico-arrow_up2: "\e63b";
$ico-btn_subtract: "\e638";
$ico-question_round: "\e637";
$ico-compartir: "\e636";
$ico-carrito: "\e633";
$ico-invoice: "\e634";
$ico-pc: "\e635";
$ico-play_left: "\e631";
$ico-play_right: "\e632";
$ico-ppl: "\e62f";
$ico-house: "\e630";
$ico-large_arrow_left: "\e62e";
$ico-arrow_left: "\e62d";
$ico-thin_down_arrow: "\e62c";
$ico-arrow_up: "\e62b";
$ico-arrow_down: "\e629";
$ico-three_lines: "\e62a";
$ico-cross: "\e628";
$ico-copa: "\e627";
$ico-lupa: "\e626";
$ico-arrow_right: "\e60e";
$ico-facturacion: "\e622";
$ico-otros: "\e623";
$ico-servicios_digitales: "\e624";
$ico-telefonia: "\e625";
$ico-candado: "\e621";
$ico-rueda_open: "\e620";
$ico-info-alert: "\e61f";
$ico-thin_left_arrow: "\e61e";
$ico-thin_right_arrow: "\e61d";
$ico-btn_ticket: "\e61c";
$ico-btn-arrow_left: "\e61a";
$ico-btn_plus: "\e61b";
$ico-f-internet: "\e617";
$ico-f-telefonia: "\e618";
$ico-f-television: "\e619";
$ico-internet-circle: "\e616";
$ico-ok-tic: "\e601";
$ico-bg_ico_service: "\e600";
$ico-feature-android: "\e602";
$ico-feature-windows: "\e603";
$ico-feature-apple: "\e604";
$ico-feature-processor: "\e605";
$ico-feature-screen: "\e606";
$ico-feature-sim: "\e607";
$ico-feature-storage: "\e608";
$ico-feature-camera: "\e609";
$ico-big_white_arrow_right: "\e60a";
$ico-bg-service: "\e60b";
$ico-wifi: "\e60c";
$ico-error-input: "\e60d";
$ico-btn-arrow_right: "\e60f";
$ico-btn-double-arrow-left: "\e639";
$ico-btn-double-arrow-right: "\e610";
$ico-estado-disponible: "\e611";
$ico-estado-no-disponible: "\e612";
$ico-internet: "\e613";
$ico-internet-tablet: "\e614";
$ico-movil: "\e615";
$ico-location-line: "\e804";
$ico-chat: "\e805";
$ico-travel-agency: "\e806";
$ico-like: "\e807";
$ico-phone-fixed: "\e808";
$ico-edit: "\e809";
$ico-calendar: "\e900";
$ico-calling: "\e901";
$ico-gift: "\e902";
$ico-search-doc: "\e903";
$ico-headset: "\e904";
$ico-arrow-updown: "\e908";
$ico-mobile-check: "\e909";
$ico-mobile-locked: "\e90a";
$ico-download: "\e905";
$ico-mobile-contract: "\e906";
$ico-new: "\e907";
$ico-truck: "\e90b";
$ico-truck-lines: "\e90c";
$ico-withdraw: "\e90d";
$ico-favorites: "\e90e";
$ico-warning-triangle-down: "\e920";
$ico-alert: "\e910";
$ico-error-input-thin: "\e914";
$ico-tic: "\e919";
$ico-location-line-gap: "\e918";
$ico-mobile-error: "\e921";
$ico-mobile-repair: "\e91f";
$ico-mobile-problems: "\e917";
$ico-traffic: "\e91d";
$ico-single-document: "\e923";
$ico-budget: "\e91c";
$ico-work-orders: "\e91a";
$ico-read-more: "\e90f";
$ico-diagnostic: "\e913";
$ico-order-number: "\e91e";
$ico-technical-support: "\e912";
$ico-actions: "\e91b";
$ico-gear: "\e915";
$ico-magnifier-border: "\e911";
$ico-happy-face: "\e916";
$ico-tool-border: "\e922";
$ico-shopping-cart: "\e925";
$ico-clock: "\e926";
$ico-unlocked: "\e927";
$ico-sun: "\e928";
$ico-world-wired: "\e929";
$ico-alert-cloud: "\e92a";
$ico-phone-cancelled: "\e92b";
$ico-phone-waiting: "\e92c";
$ico-coverage: "\e92d";
$ico-minus-border: "\e92e";
$ico-location-arrow: "\e92f";
$ico-cine: "\e930";
$ico-email: "\e931";
$ico-less: "\e932";
$ico-more: "\e933";
$ico-music: "\e934";
$ico-play: "\e935";
$ico-social: "\e936";
$ico-web: "\e937";
$ico-house-locked: "\e938";
$ico-arrow-top-border: "\e939";
$ico-arrow-bottom-border: "\e93a";
$ico-club: "\e93b";
$ico-check-shield: "\e93c";
$ico-locked: "\e93d";
$ico-picture: "\e93e";
$ico-exit: "\e93f";
$ico-exit-pad: "\e940";
$ico-bolsa-compra: "\e973";
$ico-photo: "\e974";
$ico-next: "\e975";
$ico-ico-money: "\e976";
$ico-ico-mb: "\e977";
$ico-ico-napster: "\e978";
$ico-web-exclusive: "\e979";
$ico-multi-touch: "\e97a";
$ico-check-cel: "\e97b";
$ico-battery: "\e97c";
$ico-screen-size: "\e97d";
$ico-support: "\e97e";
$ico-document: "\e97f";
$ico-mail-attachment: "\e952";
$ico-streaming-video: "\e953";
$ico-location: "\e63e";
$ico-bag-internet: "\e980";
$ico-reset: "\e941";
$ico-blind: "\e942";
$ico-crippled: "\e943";
$ico-deafness: "\e944";
$ico-pen: "\e945";
$ico-mobile-3d: "\e946";
$ico-mobile-question: "\e947";
$ico-mobile-arrow-right: "\e948";
$ico-bag-phone-fix: "\e949";
$ico-mobile-chart: "\e94a";
$ico-thin_up_arrow: "\e94b";


/*Fonts*/

$roboto       : 'Roboto';
$roboto-regular	  : 'Roboto_regular';
$roboto-light : 'RobotoLight';
$roboto-thin  : 'RobotoThin';
$roboto-bold  : 'RobotoBold';
$roboto-black : 'Roboto_black';

$movistar-textregular :'Movistar_textregular'; 
$movistar-textbold :'Movistar_textbold';
$movistar-textitalic: 'Movistar_textitalic';

$movistar-headline :'Movistar_headlineregular';
$movistar-headlinebold :'Movistar_headlinebold"';

$telefonica: 'telefonica';
$telefonica-light: 'telefonica_light';
$telefonica-xlight:'telefonica_xlight';
$telefonica-hand : 'telefonica_hand';
$telefonica-bold :'telefonica_bold';
$telefonica-cap : 'telefonica_capweb';
$telefonica-italic : 'telefonica_italic';

/*-----------Colores--------------------*/
//Primarios Azules
//Blanco 
$blanco		: #ffffff;
//Azul 1 Movistar
$azul-1a    : #005c84;
$azul-1b    : #5995af;
$azul-1c    : #b2ceda;

//Azul 2 Movistar
$azul-2a    : #0077a0;
$azul-2b    : #59a6c1;
$azul-2c    : #b2d6e2;

//Azul 3 Movistar
$azul-3a    : #129dc0;
$azul-3b    : #65bfd6;
$azul-3c    : #b7e1ec;

//Azul 4 Movistar
$azul-4a    : #00c6d7;
$azul-4b    : #59dae5;
$azul-4c    : #b2eef3;

//Azul 4 Movistar
$azul-5a    : #5c9bfa;

//Secundarios Verdes

//Verde 1 Movistar
$verde-1a   : #238937;
$verde-1b   : #70b27d;
$verde-1c   : #bddbc3;

//Verde 2 Movistar
$verde-2a   : #7ab800;
$verde-2b   : #a8d159;
$verde-2c   : #d7eab2;

//Verde 3 Movistar
$verde-3a   : #a9cf38;
$verde-3b   : #c7e07d;
$verde-3c   : #e5f1c3;

// Verde Alerta
$verde-alert: #99cc00;

//Verde Iconos
$verde-ic   : #91c52d;

$verde-link : #b0d34e;

//Terciarios Realce
//Purpura Movistar
$purpura-a  : #9e33b6;
$purpura-b  : #c07acf;
$purpura-c  : #e2c1e9;

//Amarillo Movistar
$amarillo-a : #fdb714;
$amarillo-b : #fed066;
$amarillo-c : #fee9b8;

//Magenta Movistar
$magenta-a  : #ec008c;
$magenta-b  : #f359b4;
$magenta-c  : #f9b2dc;

$bar-bg		: #fcb714;

//Colores de Mensajes
$warning    : #f25353;
$sucess	    : #{$verde-3a};

//Grey Background Colors
$background-grey-1: #f6f8fa;   
$background-grey-2: #f1f3f2;
$background-grey-3: #f1f5f5;
$background-grey-4: #dde8ea;
$background-grey-5: #d3e1e4;
$background-grey-6: #ecf0f6;
$background-grey-7: #a6a6a6; 
$background-grey-8: #fbfbfb;

// Gris Detalles
$gris-detalle-1: #dfe6ec;

// Gris Boton inactivo
$gris-btn-inactivo: #CDD1DA;

//Colores de texto
$text-grey-1 : #353b47;
$text-grey-2 : #656d78;
$text-grey-3 : #dfdfdf;
$text-grey-4 : #8f909e;
$text-grey-5 : #5a5b6b;
$text-grey-6 : #767787;
$text-grey-7 : #6a727c;

$text-rojo-1 : #{$warning};
$text-white  : #ffffff;
$text-blue	 : #10628a;

$text-placeholder: #bcbfc3;

//Titulos y Subtitulos
$text-azul-1 : #005c84;
$text-azul-2 : #{$azul-2a};
$text-azul-3 : #5d9eff;

//Title Post Order
$text-grey-agreement : #676d77;


//Links (enlaces)
$blue-link-light : #5D9EFF;
$blue-link-dark  : #5cd2ed;


$font-call-to-action : 2.7em;